@CHARSET "ISO-8859-1";

/* jssor slider arrow navigator skin 07 css */
/*
.jssora07l              (normal)
.jssora07r              (normal)
.jssora07l:hover        (normal mouseover)
.jssora07r:hover        (normal mouseover)
.jssora07ldn            (mousedown)
.jssora07rdn            (mousedown)
*/
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a07.png) no-repeat;
    overflow: hidden;
}

.jssora07l {
    background-position: -5px -35px;
}

.jssora07r {
    background-position: -65px -35px;
}

.jssora07l:hover {
    background-position: -125px -35px;
}

.jssora07r:hover {
    background-position: -185px -35px;
}

.jssora07ldn {
    background-position: -245px -35px;
}

.jssora07rdn {
    background-position: -305px -35px;
}